# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: uv-export-locked
        name: Export requirements.txt from lockfile
        entry: >
          bash -c 'uv export
          --no-cache
          --no-dev
          --locked
          --no-editable
          --no-emit-workspace
          --format requirements.txt
          --output-file requirements.txt
          && git add requirements.txt'
        language: system
        pass_filenames: false
        stages: [ pre-commit ]
        always_run: true

      - id: black
        name: Format with Black
        entry: uv run black
        language: system
        types: [ python ]

      - id: autoflake
        name: autoflake
        entry: uv run autoflake
        language: system
        types: [ python ]

      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [ python ]

      - id: flake8
        name: Check with Flake8
        entry: uv run flake8
        language: system
        pass_filenames: false
        types: [ python ]
