# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: uv-export-locked
        name: Export requirements.txt from lockfile
        entry: bash -c 'uv export --no-cache --no-dev --locked > requirements.txt && git add requirements.txt'
        language: system
        pass_filenames: false
        stages: [ commit ]

      - id: black
        name: Format with Black
        entry: uv run black
        language: system
        types: [ python ]

      - id: autoflake
        name: autoflake
        entry: uv run autoflake
        language: system
        types: [ python ]

      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [ python ]

      - id: flake8
        name: Check with Flake8
        entry: uv run flake8
        language: system
        pass_filenames: false
        types: [ python ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.9
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format